body{
    background-color: #e5e5e5;
    padding-top: 72px; 
    .container{
        margin: 0 auto;
    }
    
    header{
        position: fixed;

        left: 0;
        top: 0;
        
        width: 100%;
        height: 72px;


        background-color: #fff;
        box-shadow: 10px 0px 20px rgba(58, 58, 58, 0.15);
        .container{
            height: 100%;

            display: flex;
            justify-content: space-between;
            align-items: center;
            img{
                width: 143px;
                height: 40px;
            }
            .info{
                text-align: right;
                h1{
                    font-family: Roboto;
                    font-size: 18px;
                    color: #424242;
                    margin-bottom: 5px;
                }
                h2{
                    font-family: Roboto;
                    font-size: 16px;
                    color: #bbb;
                }
            }
        }
    }

    .form-wrapper{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 25px;
        form{
            .title{
                font-family: Roboto;
                font-size: 18px;
                text-align: center;
                color: #424242;

                margin-bottom: 20px;
            }
            .info{
                width: 100%;
                padding: 25px 50px;
                background-color: white;
                margin-bottom: 20px;
                box-shadow: 5px 5px 10px rgba(58, 58, 58, 0.1);
                section{
                    margin-bottom: 20px;
                    width: 100%;
                    label{
                        font-family: Roboto;
                        font-size: 14px;
                        color: #828282;
                    }
                    input{
                        display: block;
                        width: 100%;
                        background: #fff;
                        border: 1px solid #bbb;  
                        border-radius: 2px;
                        font-size: 14px;
                        padding: 10px;
    
                        margin-top: 5px;

                        color: #424242;
                        &:focus{ border-color: #828282 }
                    }
                }
            }
            .cv{
                width: 100%;
                padding: 25px 50px;
                background-color: #fff;
                box-shadow: 5px 5px 10px rgba(58, 58, 58, 0.1);
                .file-wrapper{
                    display: block;

                    position: relative;
                    width: 100%;

                    border: 1px solid #BBBBBB;
                    border-radius: 2px;

                    font-family: Roboto;
                    font-size: 14px;

                    padding: 10px;

                    color: #828282;

                    cursor: pointer;    
                    input{
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        opacity: 0;
                        z-index: -1;
                    }
                }
                span {
                    font-family: Roboto;
                    font-size: 12px;
                    color: #828282;
                }
                .file{
                    display: none;
                    justify-content: space-between;
                    align-items: center; 
                    p{
                        flex: 1;
                        font-family: Roboto;
                        font-size: 15px;
                        color: #424242;
                        padding-left: 10px;
                        span {
                            font-size: 10px;
                            margin-left: 5px;
                            color: #828282;
                        }
                    }
                    .clip {
                        width: 13px;
                        height: 15px;
                        path { fill: #E94C1E;  }
                    }
                    .delete  {
                        width: 8px;
                        height: 8px;
                        cursor: pointer;
                        path { fill: #BBBBBB;  }
                        &:hover path{  fill: rgba(187, 187, 187, 0.746); }
                    }
                }
            }
            button{
                background: #E94C1E;
                border-radius: 2px;
                width: 100%;
                color: white;

                padding: 15px 0px;

                font-family: Roboto;
                font-size: 14px;
                text-align: center;

                color: #F9F9F9;
                
                border: none;
                cursor: pointer;
                &:hover{
                    background-color: rgb(255, 86, 35);
                }
            }
        }
    }

    .modal-wrapper{

        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        display: none;
        justify-content: center;
        align-items: center;

        .modal{
            width: 335px;
            background: #fff;
            box-shadow: 5px 5px 10px rgba(58, 58, 58, 0.1);
            border-radius: 2px;
            text-align: center;
            padding-bottom: 30px;
            .img{
                position: relative;
                width: 100%;
                height: 150px;

                display: flex;
                justify-content: center;
                align-items: center;

                margin-bottom: 35px;
                .icon{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 74px;
                    height: 74px;
                    background-color: white;
                    border-radius: 50%;
                }
                background-color: #E94C1E;

                svg{
                    position: absolute;
                    &.decoration_1{
                        left: 12.5%;
                        bottom: 15%;
                    }
                    &.decoration_2{
                        top: 12.5%;
                        left: 27.5%;
                    }
                    &.decoration_3{
                        top: 25%;
                        right: 27.5%;
                    }
                    &.decoration_4{
                        bottom: 7.5%;
                        right: 15%;
                    }
                }
            }
            .title{
                font-family: Roboto;
                font-size: 24px;

                margin-bottom: 20px;

                color: #E94C1E;
            }
            .description{
                font-family: Roboto;
                font-size: 14px;

                margin-bottom: 35px;

                color: #424242;
            }
            a{
                font-family: Roboto;
                font-size: 14px;
                text-align: center;

                color: #E94C1E;
                cursor: pointer;
                &:hover {
                    color: rgb(255, 86, 35);
                }
            }
        }
    }
}


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    .container {
        width: 100%;
    }
    .form-wrapper form {
        width: 80%;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { 
    .container {
        width: 100%;
    }
    .form-wrapper form {
        width: 80%;
    }

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { 
    .container {
        width: 750px;
    }
    .form-wrapper form {
        width: 60%;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
    .container{
        width: 970px;
    }
    .form-wrapper form {
        width: 30%;
    }
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .container{
        width: 1138px;
    }
    .form-wrapper form {
        width: 30%;
    }
}